

/* *** @media only screen and (max-width: 320px) *** */
@media only screen and (max-width: 399px) {
  /* <----------- MAIN CONTENT --------> */
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* <----------- TITLE CATEGORY --------> */
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .categoryName {
    font-weight: 500;
    font-size: 1.2rem;
  }

  /* <----------- ARROWS --------> */
  .arrowContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .arrowBack,
  .arrowNext {
    color: #889397;
    background-color: #ecf0ef;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }

  .arrowBack:hover,
  .arrowNext:hover {
    color: white;
    background-color: #0aad0a;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }

  /* <----------- IMAGE & TITLE CAROUSEL --------> */
  .carouselImg {
    margin-top: 1rem;
    object-fit: contain;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.3rem;
    width: 45vw;
    height: 50vw;
  }

  .featuredProduct:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.3rem;
    border: 1px solid #0aad0a;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #0aad0a;
    width: 45vw;
    height: 50vw;
  }

  .productName {
    font-size: 1rem;
    text-align: center;
  }
}
/* *** @media only screen and (min-width: 321px) and (max-width: 574px) *** */
@media only screen and (min-width: 400px) and (max-width: 574px) {
  /* <----------- MAIN CONTENT --------> */
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* <----------- TITLE CATEGORY --------> */
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .categoryName {
    font-weight: 500;
    font-size: 1.4rem;
  }

  /* <----------- ARROWS --------> */
  .arrowContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .arrowBack,
  .arrowNext {
    color: #889397;
    background-color: #ecf0ef;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2.2rem;
    width: auto;
    cursor: pointer;
  }

  .arrowBack:hover,
  .arrowNext:hover {
    color: white;
    background-color: #0aad0a;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2.2rem;
    width: auto;
    cursor: pointer;
  }

  /* <----------- IMAGE & TITLE CAROUSEL --------> */
  .carouselImg {
    margin-top: 1rem;
    object-fit: contain;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;
    width: 45vw;
    height: max-content;
  }

  .featuredProduct:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.3rem;
    border: 1px solid #0aad0a;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #0aad0a;
    width: 45vw;
    height: 45vw;
  }

  .productName {
    font-size: 1rem;
  }
}

/* *** @media only screen and (min-width: 575px) and (max-width: 767px) ***  */
@media only screen and (min-width: 575px) and (max-width: 767px) {
  /* <----------- MAIN CONTENT --------> */
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* <----------- TITLE CATEGORY --------> */
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .categoryName {
    font-weight: 500;
    font-size: 1.4rem;
  }

  /* <----------- ARROWS --------> */
  .arrowContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .arrowBack,
  .arrowNext {
    color: #889397;
    background-color: #ecf0ef;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2.3rem;
    width: auto;
    cursor: pointer;
  }

  .arrowBack:hover,
  .arrowNext:hover {
    color: white;
    background-color: #0aad0a;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2.3rem;
    width: auto;
    cursor: pointer;
  }

  /* <----------- IMAGE & TITLE CAROUSEL --------> */
  .carouselImg {

    object-fit: contain;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;
    width: 25vw;
    height:32vw;
  }

  .featuredProduct:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.3rem;
    border: 1px solid #0aad0a;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #0aad0a;
    width: 25vw;
    height: 32vw;
  }

  .productName {
    font-size: 1rem;
    text-align: center;
  }
}
/* *** @media only screen and (min-width: 768px) and (max-width: 999px) ***  */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  /* <----------- MAIN CONTENT --------> */
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* <----------- TITLE CATEGORY --------> */
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .categoryName {
    font-weight: 500;
    font-size: 1.6rem;
  }

  /* <----------- ARROWS --------> */
  .arrowContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .arrowBack,
  .arrowNext {
    color: #889397;
    background-color: #ecf0ef;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2.3rem;
    width: auto;
    cursor: pointer;
  }

  .arrowBack:hover,
  .arrowNext:hover {
    color: white;
    background-color: #0aad0a;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2.3rem;
    width: auto;
    cursor: pointer;
  }

  /* <----------- IMAGE & TITLE CAROUSEL --------> */
  .carouselImg {

    object-fit: contain;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;
    width: 20vw;
    height: 25vw;
  }

  .featuredProduct:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.3rem;
    border: 1px solid #0aad0a;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #0aad0a;
    width: 20vw;
    height: 25vw;
  }

  .productName {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* *** @media only screen and (min-width: 1000px) and (max-width: 1199px) *** */
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  /* <----------- MAIN CONTENT --------> */
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* <----------- TITLE CATEGORY --------> */
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .categoryName {
    font-weight: 500;
    font-size: 1.6rem;
  }

  /* <----------- ARROWS --------> */
  .arrowContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .arrowBack,
  .arrowNext {
    color: #889397;
    background-color: #ecf0ef;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }

  .arrowBack:hover,
  .arrowNext:hover {
    color: white;
    background-color: #0aad0a;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }

  /* <----------- IMAGE & TITLE CAROUSEL --------> */
  .carouselImg {
    margin-top: 1rem;
    object-fit: contain;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;
    width: 95%;
    height: 100%;

   
  }

  .featuredProduct:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    border-radius: 5px;
    border: 1px solid #0aad0a;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #0aad0a;
    padding: 0.3rem;
    margin: 0.3rem;
    width: 95%;
    height: 100%;

  }

  .productName {
    font-size: 1rem;
  }
}

/*@media only screen and (min-width: 1200px) and (max-width: 1499px)*/
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  /* <----------- MAIN CONTENT --------> */
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* <----------- TITLE CATEGORY --------> */
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .categoryName {
    font-weight: 500;
    font-size: 1.6rem;
  }

  /* <----------- ARROWS --------> */
  .arrowContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .arrowBack,
  .arrowNext {
    color: #889397;
    background-color: #ecf0ef;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }

  .arrowBack:hover,
  .arrowNext:hover {
    color: white;
    background-color: #0aad0a;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }
  /* <----------- IMAGE & TITLE CAROUSEL --------> */
  .carouselImg {
    margin-top: 1rem;
    height: 15vh;
    object-fit: contain;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    width: 13vw;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
  }

  .featuredProduct:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    width: 13vw;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #0aad0a;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #0aad0a;
  }
}

/* *** @media only screen and (min-width: 1600px) *** */
@media only screen and (min-width: 1600px) {
  /* <----------- MAIN CONTENT --------> */
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* <----------- TITLE CATEGORY --------> */
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .categoryName {
    font-weight: 500;
    font-size: 1.6rem;
  }

  /* <----------- ARROWS --------> */
  .arrowContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .arrowBack,
  .arrowNext {
    color: #889397;
    background-color: #ecf0ef;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }

  .arrowBack:hover,
  .arrowNext:hover {
    color: white;
    background-color: #0aad0a;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
  }

  /* <----------- IMAGE & TITLE CAROUSEL --------> */
  .carouselImg {
    margin-top: 1rem;
    height: 12vh;
    object-fit: contain;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    width: 10vw;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
  }

  .featuredProduct:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2e1;
    width: 10vw;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #0aad0a;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #0aad0a;
  }
}
