@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* *** @media only screen and (max-width: 320px) *** */
@media only screen and (max-width: 320px) {
  /* <-------- FOOTER CONTENT -------> */
  .footerContainer {
    position: absolute;
    background-color: #ecf0ef;
    height: max-content;
    width: 100vw;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    left: 0;
  }

  .footer_linksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dfe2e1;
  }

  .footer_links__section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 2rem;
  }

  .linkSection__title {
    color: #21313c;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 550;
    font-size: 0.9rem;
  }

  .linkSection__link {
    color: #5c6c75;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    line-height: 2rem;
  }

  .linkSection__link:link,
  .linkSection__link:visited {
    text-decoration: none;
  }

  .linkSection__link:hover {
    color: #0aad0a;
    cursor: pointer;
  }
  /* <--------  LINK SECTION - FIRST LIST -------> */

  .categoryContainer {
    width: 100%;
    column-count: 2;
  }

  /* <--------  FOOTER INFORMATIONS -------> */

  .footer_informationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
    border-bottom: 1px solid #dfe2e1;
  }

  .paymentPartners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .paymentPartners p {
    font-size: 0.8rem;
  }
  .paymentPartners img {
    width: 4rem;
  }
  .storeApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .storeApp p {
    font-size: 0.8rem;
    padding-right: 2rem;
  }

  .storeApp img {
    width: 9rem;
    padding: 0.5rem 0;
  }

  .paymentPartners__link {
    padding: 0 0.4rem;
  }

  /* <--------  FOOTER COPYRIGHT -------> */

  .footer_copyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #889397;
  }

  .copyrightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .copyrightSection p {
    line-height: 1.4rem;
  }

  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialNetwork p {
    padding-right: 0.3rem;
  }

  .socialNetwork_btn {
    font-size: 1.7rem;
    border: 1px solid;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}
/* *** @media only screen and (min-width: 321px) and (max-width: 574px) *** */
@media only screen and (min-width: 321px) and (max-width: 574px) {
  /* <-------- FOOTER CONTENT -------> */
  .footerContainer {
    position: absolute;
    background-color: #ecf0ef;
    height: max-content;
    width: 100vw;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    left: 0;

  }

  .footer_linksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dfe2e1;
    column-count: 3;
  }

  .footer_links__section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }

  .linkSection__title {
    color: #21313c;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 550;
    font-size: 0.9rem;
  }

  .linkSection__link {
    color: #5c6c75;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    line-height: 2rem;
  }

  .linkSection__link:link,
  .linkSection__link:visited {
    text-decoration: none;
  }

  .linkSection__link:hover {
    color: #0aad0a;
    cursor: pointer;
  }
  /* <--------  LINK SECTION - FIRST LIST -------> */

  .categoryContainer {
    width: 100%;
    column-count: 2;
    padding-bottom: 2rem;


  }

  /* <--------  FOOTER INFORMATIONS -------> */

  .footer_informationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
    border-bottom: 1px solid #dfe2e1;
  }

  .paymentPartners {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }
  .paymentPartners p {
    font-size: 0.8rem;
  }

  .paymentPartners img {
    width: 4rem;
  }

  .storeApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .storeApp p {
    font-size: 0.8rem;
    padding-right: 2rem;
  }

  .storeApp img {
    width: 9rem;
    padding: 0.5rem 0;
  }

  .paymentPartners__link {
    padding: 0 0.4rem;
  }

  /* <--------  FOOTER COPYRIGHT -------> */

  .footer_copyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #889397;
  }

  .copyrightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .copyrightSection p {
    line-height: 1.4rem;
  }

  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialNetwork p {
    padding-right: 0.3rem;
  }

  .socialNetwork_btn {
    font-size: 1.7rem;
    border: 1px solid;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}

/* *** @media only screen and (min-width: 575px) and (max-width: 767px) ***  */
@media only screen and (min-width: 575px) and (max-width: 767px) {
  /* <-------- FOOTER CONTENT -------> */
  .footerContainer {
    position: absolute;
    background-color: #ecf0ef;
    height: max-content;
    width: 100vw;
    padding: 2rem 4rem;
    font-family: "Inter", sans-serif;
    left: 0;
  }

  .footer_linksContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    border-bottom: 1px solid #dfe2e1;
  }

  .footer_links__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 100%;
    column-count: 3;
  }

  .linkSection__title {
    color: #21313c;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 550;
    font-size: 0.9rem;
  }

  .linkSection__link {
    color: #5c6c75;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    line-height: 2rem;
  }

  .linkSection__link:link,
  .linkSection__link:visited {
    text-decoration: none;
  }

  .linkSection__link:hover {
    color: #0aad0a;
    cursor: pointer;
  }
  /* <--------  LINK SECTION - FIRST LIST -------> */

  .categoryContainer {
    columns: 3;
    width: 100%;
    height: max-content;
    padding-bottom: 3rem;
    justify-content: space-between;
    padding-right: 1rem;
  }

  /* <--------  FOOTER INFORMATIONS -------> */

  .footer_informationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid #dfe2e1;
  }

  .paymentPartners {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .paymentPartners p {
    font-size: 0.9rem;
    padding-right: 1rem;
  }

  .storeApp {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .storeApp p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .storeApp img {
    width: 9rem;
  }

  .paymentPartners__link {
    padding: 0 0.4rem;
  }

  /* <--------  FOOTER COPYRIGHT -------> */

  .footer_copyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #889397;
  }

  .copyrightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .copyrightSection p {
    line-height: 1.4rem;
  }

  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialNetwork p {
    padding-right: 0.3rem;
  }

  .socialNetwork_btn {
    font-size: 1.7rem;
    border: 1px solid;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}
/* *** @media only screen and (min-width: 768px) and (max-width: 999px) ***  */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  /* <-------- FOOTER CONTENT -------> */
  .footerContainer {
    position: absolute;
    background-color: #ecf0ef;
    height: max-content;
    width: 100vw;
    padding: 4rem 10rem;
    font-family: "Inter", sans-serif;
    left: 0;
  }

  .footer_linksContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    border-bottom: 1px solid #dfe2e1;
  }

  .footer_links__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 100%;
  }

  .linkSection__title {
    color: #21313c;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 550;
    font-size: 0.9rem;
  }

  .linkSection__link {
    color: #5c6c75;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    line-height: 2rem;
  }

  .linkSection__link:link,
  .linkSection__link:visited {
    text-decoration: none;
  }

  .linkSection__link:hover {
    color: #0aad0a;
    cursor: pointer;
  }
  /* <--------  LINK SECTION - FIRST LIST -------> */

  .categoryContainer {
    columns: 3;
    width: 100%;
    height: max-content;
    padding-bottom: 3rem;
    justify-content: space-between;
  }

  /* <--------  FOOTER INFORMATIONS -------> */

  .footer_informationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid #dfe2e1;
  }

  .paymentPartners {
    display: flex;
    width: 100%;
  }
  .paymentPartners p {
    font-size: 0.9rem;
    padding-right: 1rem;
  }

  .storeApp {
    display: flex;
  }
  .storeApp p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .storeApp img {
    width: 9rem;
  }

  .paymentPartners__link {
    padding: 0 0.4rem;
  }

  /* <--------  FOOTER COPYRIGHT -------> */

  .footer_copyrightContainer {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #889397;
  }

  .copyrightSection {
    width: 50%;
  }
  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialNetwork p {
    padding-right: 0.3rem;
  }

  .socialNetwork_btn {
    font-size: 1.7rem;
    border: 1px solid;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}

/* *** @media only screen and (min-width: 1000px) and (max-width: 1199px) *** */
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  /* <-------- FOOTER CONTENT -------> */
  .footerContainer {
    position: absolute;
    background-color: #ecf0ef;
    height: max-content;
    width: 100vw;
    left: 0;
    padding: 4rem 4.5rem;
    font-family: "Inter", sans-serif;
  }

  .footer_linksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #dfe2e1;
  }

  .footer_links__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 100%;
  }

  .linkSection__title {
    color: #21313c;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 550;
    font-size: 0.9rem;
    width: 100%;
  }

  .linkSection__link {
    color: #5c6c75;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    line-height: 2rem;
  }

  .linkSection__link:link,
  .linkSection__link:visited {
    text-decoration: none;
  }

  .linkSection__link:hover {
    color: #0aad0a;
    cursor: pointer;
  }
  /* <--------  LINK SECTION - FIRST LIST -------> */

  .categoryContainer {
    height: 25%;
    columns: 2;
    flex-wrap: wrap;
  }

  /* <--------  FOOTER INFORMATIONS -------> */

  .footer_informationsContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid #dfe2e1;
  }

  .paymentPartners {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .paymentPartners p {
    font-size: 0.9rem;
    padding-right: 1rem;
  }

  .paymentPartners img {
    width: 4rem;
  }

  .storeApp {
    display: flex;
  }
  .storeApp p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .storeApp img {
    width: 9rem;
  }

  .paymentPartners__link {
    padding: 0 0.4rem;
  }

  /* <--------  FOOTER COPYRIGHT -------> */

  .footer_copyrightContainer {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #889397;
  }

  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialNetwork p {
    padding-right: 0.3rem;
  }

  .socialNetwork_btn {
    font-size: 1.7rem;
    border: 1px solid;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}
/*@media only screen and (min-width: 1200px) and (max-width: 1499px)*/
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  /* <-------- FOOTER CONTENT -------> */
  .footerContainer {
    position: absolute;
    background-color: #ecf0ef;
    height: 80vh;
    width: 100vw;
    left: 0;
    padding: 6.5rem;
    font-family: "Inter", sans-serif;
  }

  .footer_linksContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
    border-bottom: 1px solid #dfe2e1;
  }

  .footer_links__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 100%;
  }

  .linkSection__title {
    color: #21313c;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 550;
    font-size: 0.9rem;
  }

  .linkSection__link {
    color: #5c6c75;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    line-height: 2rem;
  }

  .linkSection__link:link,
  .linkSection__link:visited {
    text-decoration: none;
  }

  .linkSection__link:hover {
    color: #0aad0a;
    cursor: pointer;
  }
  /* <--------  LINK SECTION - FIRST LIST -------> */

  .categoryContainer {
    width: 30%;
    height: 85%;
  }

  /* <--------  FOOTER INFORMATIONS -------> */

  .footer_informationsContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid #dfe2e1;
  }

  .paymentPartners {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .paymentPartners p {
    font-size: 0.9rem;
    padding-right: 1rem;
  }
  .paymentPartners img {
    width: 4rem;
  }
  .storeApp {
    display: flex;
  }
  .storeApp p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .storeApp img {
    width: 9rem;
  }

  .paymentPartners__link {
    padding: 0 0.4rem;
  }

  /* <--------  FOOTER COPYRIGHT -------> */

  .footer_copyrightContainer {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #889397;
  }

  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialNetwork p {
    padding-right: 0.3rem;
  }

  .socialNetwork_btn {
    font-size: 1.7rem;
    border: 1px solid;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}

/* *** @media only screen and (min-width: 1600px) *** */
@media only screen and (min-width: 1600px) {
  /* <-------- FOOTER CONTENT -------> */
  .footerContainer {
    position: absolute;
    background-color: #ecf0ef;
    height: 70vh;
    width: 100vw;
    left: 0;
    padding: 5rem 20rem;
    font-family: "Inter", sans-serif;
  }

  .footer_linksContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
    border-bottom: 1px solid #dfe2e1;
  }

  .footer_links__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    height: 100%;
  }

  .linkSection__title {
    color: #21313c;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 550;
    font-size: 0.9rem;
  }

  .linkSection__link {
    color: #5c6c75;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    line-height: 2rem;
  }

  .linkSection__link:link,
  .linkSection__link:visited {
    text-decoration: none;
  }

  .linkSection__link:hover {
    color: #0aad0a;
    cursor: pointer;
  }
  /* <--------  LINK SECTION - FIRST LIST -------> */

  .categoryContainer {
    width: 30%;
    height: 85%;
  }

  /* <--------  FOOTER INFORMATIONS -------> */

  .footer_informationsContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid #dfe2e1;
  }

  .paymentPartners {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .paymentPartners p {
    font-size: 0.9rem;
    padding-right: 1rem;
  }

  .paymentPartners img {
    width: 4rem;
  }

  .storeApp {
    display: flex;
  }
  .storeApp p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .storeApp img {
    width: 9rem;
  }

  .paymentPartners__link {
    padding: 0 0.4rem;
  }

  /* <--------  FOOTER COPYRIGHT -------> */

  .footer_copyrightContainer {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #889397;
  }

  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialNetwork p {
    padding-right: 0.3rem;
  }

  .socialNetwork_btn {
    font-size: 1.7rem;
    border: 1px solid;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}
